:root {
  --primary-color: rgb(63, 76, 119);
  --secondary-color: #e4f1fe;
  --tertiary-color: rgb(128, 215, 172);
  --fourth-color: rgb(24, 30, 37);
  --gradient: radial-gradient(
    590px at 8.2% 13.8%,
    rgb(18, 35, 60) 0%,
    rgb(187, 187, 187) 90%
  );
  --first-font-family: "Laila", sans-serif;
  --second-font-family: "Poppins", sans-serif;
  --third-font-family: "Playfair Display", serif;
  --box-shadow: 5px 5px 10px rgb(154, 180, 212);
}

body {
  background: var(--fourth-color);
}

.container {
  font-family: var(--first-font-family);
}

.content h2 {
  font-size: 48px;
  font-family: var(--second-font-family);
  font-weight: bold;
  color: var(--tertiary-color);
}

.content h1 {
  color: var(--secondary-color);
  font-size: 96px;
  line-height: 1.5;
  font-weight: bold;
}

.content h3 {
  color: var(--tertiary-color);
  line-height: 2;
  font-family: var(--third-font-family);
  font-weight: bold;
  font-size: 24px;
}

.btn-branding {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

h2,
p {
  color: var(--secondary-color);
}

h3 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  color: var(--tertiary-color);
}

.first-link {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  text-transform: capitalize;
  color: var(--secondary-color);
}

.second-link {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  text-transform: capitalize;
  color: var(--secondary-color);
}

.about-paragraph {
  margin: 30px 0;
}

.about-paragraph p {
  margin: 15px;
}

.email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
}

.email-link:hover {
  text-decoration: underline;
  color: var(--third-color);
}
